---
layout: index.swig
---
<div class="row">
  <div class="doc-home-title col-md-8 col-md-offset-2 col-xs-offset-0">
    <!-- <h1 class="font-logo">Documentation</h1> -->
    <!-- <form class="hero-search" role="search" action="https://newdoc.leanapp.cn/search" method="get"> -->
    <div class="form-group text-center" style="margin:0 10px;">
      <input id="site-search" name="q" type="text" class="form-control input-lg" placeholder="&#xf17a 输入错误代码、关键字来搜索&hellip;">
    </div>
    <ul class="nav nav-pills text-center" role="tablist">
      <!--
      <li role="presentation" class="active">
        <a href="#tab-docs" data-target="#tab-docs" data-toggle="pill">技术文档</a>
      </li>
      <li role="presentation">
        <a href="opencourse.html" data-target="#tab-other" data-toggle="pill" data-source="">ajax</a>
      </li>
      -->
      <li role="presentation" class="active">
        <div class="doc-hero-links">
          <a href="#tab-docs" data-target="#tab-docs" data-toggle="pill" class="doc-quick-start-btn">
            <i class="icon icon-log"></i>
          技术文档
          </a>
        </div>
      </li>
      <!-- <li>
        <div class="doc-hero-links">
          <a href="faq_list.html" data-target="#tab-faqlist" data-toggle="pill" class="doc-quick-start-btn">
            <i class="icon icon-signpost"></i>
          知识库
          </a>
        </div>
      </li>
      <li>
        <div class="doc-hero-links">
          <a href="opencourse.html" data-target="#tab-opencourses" data-toggle="pill" class="doc-quick-start-btn">
            <i class="icon icon-graduation"></i>
          视频公开课
          </a>
        </div>
      </li> -->
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-8 col-md-offset-2 col-xs-offset-0">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab-docs">
        <div class="toc-hack" style="display: none;">
          <ul>
          </ul>
        </div>
        <div style="height:100px;" class="mobile-hide">
        &nbsp;
          <div id="section-nav" class="scrollspy text-center mobile-hide  affix-top loaded">
            <div class="spinner"></div>
            <ul class="nav">
            </ul>
          </div>
        </div>
        <div class="section">
          <h2 class="section-title"><span class="font-logo">Partner Merchant 合作商家</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>接口指南</h3>
              <ul class="list-unstyled">
                <li><a href="rest_api.html">REST API</a></li>
                <!-- <li><a href="leanengine-rest-api.html">云引擎 REST API</a></li>
                <li><a href="realtime_rest_api_v2.html">即时通讯 REST API</a></li>
                <li><a href="rest_api.html#Push_通知">消息推送 REST API</a></li>
                <li><a href="rest_sms_api.html">短信 SMS REST API</a></li>
                <li><a href="status_system.html#REST_API">应用内社交 REST API</a></li>
                <li><a href="app_search_guide.html#搜索_API">应用内搜索 REST API</a></li> -->
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>相关阅读</h3>
              <ul class="list-unstyled">
                <!-- <li><a href="https://forum.leancloud.cn/t/postman-rest-api/8638" target="_blank">使用 Postman 调试 REST API</a></li> -->
                <li><a href="faq_list.html">入驻申请</a></li>
              </ul>
            </div>
            <!-- end of .section-content -->
          </div>
          <!-- end of .row(nested) -->
        </div>
        <div class="section">
          <h2 class="section-title"><span class="font-logo">Open Platform 开放平台</span></h2>
          <div class="row">
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <h3>接口指南</h3>
              <ul class="list-unstyled">
                <li><a href="rest_api.html">REST API</a></li>
                <!-- <li><a href="leanengine-rest-api.html">云引擎 REST API</a></li>
                <li><a href="realtime_rest_api_v2.html">即时通讯 REST API</a></li>
                <li><a href="rest_api.html#Push_通知">消息推送 REST API</a></li>
                <li><a href="rest_sms_api.html">短信 SMS REST API</a></li>
                <li><a href="status_system.html#REST_API">应用内社交 REST API</a></li>
                <li><a href="app_search_guide.html#搜索_API">应用内搜索 REST API</a></li> -->
              </ul>
            </div>
            <div class="section-content col-xs-12 col-sm-6 col-md-6">
              <!-- <h3>相关阅读</h3>
              <ul class="list-unstyled">
                <li><a href="https://forum.leancloud.cn/t/postman-rest-api/8638" target="_blank">使用 Postman 调试 REST API</a></li>
                <li><a href="faq_list.html">常见问题</a></li>
              </ul> -->
            </div>
            <!-- end of .section-content -->
          </div>
          <!-- end of .row(nested) -->
        </div>
      </div>
      <!-- end of tabpanel: tab-docs -->
      <div role="tabpanel" class="tab-pane fade in" id="tab-faqlist"></div>
      <div role="tabpanel" class="tab-pane fade in" id="tab-opencourses"></div>
      <!-- end of tabpanel: tab-opencourses -->
      <!-- <div role="tabpanel" class="tab-pane active" id="tab-other"></div> -->

    </div>
  </div>
</div>


{% include 'templates/include/ga-config.html' %}